.adminUser-table{
    margin: 2rem 2rem;
}       
        
        .container-table{
            margin: 40px; 
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f9;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #eaeaea;
        }

        td:last-child {
            display: flex;
            gap: 0.5rem;
        }