header {
    background-color: #0B3B59;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    padding: 0.2em 1em;

}

/* -Todo sobre la img de whatsapp */
.header .whatsapp img {
    height: 3em;
    width: auto;
    transition: all 0.3s;
}

.header .whatsapp {
    cursor: pointer;
}

.header .whatsapp img:hover {
    transform: scale(1.2);
}

/* menu del nav */

a {
    text-decoration: none;
}

.header .menu li {
    display: inline-block;
    padding: 0 13em;

    
}

.header .menu li:hover {
    transform: scale(1.2);
}

.header .menu a {
    font-size: 1.5rem;
    color: #ffffff;
}

.header .menu li a:hover {
    color: #e17b1f;
}

/* boton */
.header .btn button {
    font-weight: 900;
    color: #0B3B59;
    font-size: 1.1rem;
    padding: 0.1em 0.5em;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.header .btn button:hover {
    background-color: #e17b1f;
    color: #ffffff;
    transform: scale(1.1);
}