.carousel-container {
    padding: 40px;
  }
  
  .carousel-r {
    border-radius: 40px;
  }

  .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #0451e0;
    opacity: 0.5;
    transition: all 0.3s ease;
  }
  
  .carousel-indicators .active {
    background-color: #2385f5;
    opacity: 1;
  }


  .img {
    width: 250px;
    height: 250px;
  }

  .card-title {
    font-size: small;
  }

  .activeBtn {
    background: #0451e0;
    color: white;
  }

  .disabledBtn {
    background: #969ead;
  }
  
  /* button {
    border-radius: 10px;
    border: solid;
    border-color: darkblue;
  } */

  .category-button {
    transition: all 0.3s ease;
  }
  
  .category-button .active {
    background-color: #0d6efd; 
    border-color: #0d6efd;
  }

  .section-button.active {
    background-color: #198754; /* verde de Bootstrap */
    color: white;
    border-color: #198754;
  }