.carousel-container {
  padding: 40px;
}

.carousel-r {
  border-radius: 40px;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #26a699;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.carousel-indicators .active {
  background-color: #26a699;
  opacity: 1;
}

.img {
  width: 250px;
  height: 250px;
}
.btn-carousel {
  background-color: #E17B1F !important;
  color: white !important;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.btnCard {
  background-color: #145873;
  color: white;
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  cursor: pointer;
}
.card-title {
  color: #0000;
  font-size: medium !important;
}
.card {
  height: 350px !important;
}
.card-img-top {
  height: 200px;
}

.btnCard:hover {
  background-color: #26a699;
}

.category-button {
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  border: 1px solid #145873;
  border-radius: 9999px;
  margin-right: 0.5rem;
  color: #26a699;
  cursor: pointer;
}

.category-button.active {
  background-color: #26a699;
  color: white;
}

.section-button.active {
  background-color: #145873 !important;
  color: white !important;
}

.btn-primary {
  background-color: #145873 !important;
}

@media (max-width: 575.98px) {
  .card-img-top {
    height: 120px;        
  }

  .card {
  height: 280px !important;
}

}